*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*nav*/
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: white; 
    z-index: 1000;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.logo img{
    width: 80px;
    height: 40px;
    object-fit:cover;
}

.nav_button a.no-underline {
    text-decoration: none; 
}

.nav_button #log{
    border-radius: 10px;
}

.nav_button {
    display: flex;
    gap: 10px; 
}

.nav_button img{
    width:20px;
    margin-right: 5px;
}

.nav button{
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 20px;
    border:none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #9897E4;
    color: white;
}

.nav button:hover{
    background-color: #7473bb;
    cursor: pointer;
}

.nav button:active{
    background-color: #4d4c83;
    cursor: pointer;
}


/*section 1*/

.section_1{
    margin-top: 85px;
    margin-left: 20px;
    margin-right: 20px;
}

.r1{
    display: flex;
    justify-content: space-between;
}

#luzon{
    font-size: 30px;
    margin-bottom: 10px;
}

.box{
    background-color: rgba(128, 128, 128, 0.5);
    padding: 2px;
    width: 430px;
    color: white;
    margin-bottom: 15px;
    transition: 1s;
}

.box:hover{
    transform: scale(1.03);
    box-shadow: 1px 1px 1px #000;
    cursor: pointer;
}

.box h1{
    font-size: 25px;
}

.box p {
    font-weight: 100;
}

.box p, .box h1{
    margin: 0 5px;
}

.box img{
    width: 425px;
    height: 300px;
    margin-top: 10px;
    display: flex;
}

#buts{
    width: 1310px;
}

.section_6_footer{
    margin-top: 30px;
    padding: 50px;
    background-color: grey;
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    border-top:1px black solid
}

