*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*nav*/
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: white; 
    z-index: 1000;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.logo img{
    width: 80px;
    height: 40px;
    object-fit:cover;
}

.nav_button a.no-underline {
    text-decoration: none; 
}

.nav_button #log{
    border-radius: 10px;
}

.nav_button {
    display: flex;
    gap: 10px; 
}

.nav_button img{
    width:20px;
    margin-right: 5px;
}

.nav button{
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 20px;
    border:none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #9897E4;
    color: white;
}

.nav button:hover{
    background-color: #7473bb;
    cursor: pointer;
}

.nav button:active{
    background-color: #4d4c83;
    cursor: pointer;
}

/*Section 1*/
.section_1 {
    background-image: url('img1.jpg');
    background-size: cover; 
    background-position: center; 
    height: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 85px;
}

.section_1 .name{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: rgba(152, 151, 228, 0.5);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    font-size: 50px;
    margin-top: 10px;
}

.section_1 .tag{
    position: absolute;
    top: 1;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    color: rgba(152, 151, 228);
    font-family: 'Pacifico', cursive;

}

.section_1 .hot_deals{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 160px;
    left: 20%;
    transform: translateX(-50%);
    color: red;
    font-weight: bold;
    background-color: white;
    padding: 2px 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.slider{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.hot_slider{
    display: flex;
    flex-direction: row;
    background-color: rgba(128, 128, 128, 0.5);
    padding: 10px 5px;
    margin-right: 5px;
    width:300px;
}

.hot_slider_left{
    line-height: 20px;
}

.hot_slider_left #hot{
    display: inline-block;
    padding:2px 5px;
    font-size: 15px;
    font-weight: bold;
    color: red;
    background-color: white;
    padding: 2px 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.hot_slider_left #destination{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
    color: white;
}

.hot_slider_left #date{
    font-size: 13px;
    color: white;
    font-weight: bold;
}

.hot_slider_left button{
    padding: 7px;
    border-radius: 15px;
    border:none;
    margin-top: 5px;
    color: white;
    background-color: grey;
}

.hot_slider_left button:hover{
    background-color: rgb(94, 85, 85);
    cursor: pointer;
}

.hot_slider_left button:active{
    background-color: rgb(59, 53, 53);
    cursor: pointer;
}

.hot_slider_img img{
    width: 100px;
    height: 120px;
    object-fit: cover;
}


/*section 2*/
.section_2_button{
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}

.section_2_button a{
    text-decoration: none;
    color: black;
}

.button{
    width:100px;
    margin-right: 20px;
    text-align: center;
    transition: 1s;
}

.button:hover{
    transform: scale(1.3);
    cursor: pointer;
    text-decoration: underline;
}

.button img:hover{
    cursor: pointer;
}

.section_2_button .button img{
    width: 50px;
}

.button button{
    border: none;
    background-color: white;
}


/*section 3*/

.section_3_banner{
    display: flex;
    justify-content: center;
    height: 200px;
}

.section_3_banner img{
    width: 1100px;
    object-fit:cover;
    object-position: top;
}


/*Section 4*/
.section_4_tours{
    margin: 50px 40px;
}

.section_4_tours a{
    text-decoration: none;
    color: black;
}

#group_tour{
    font-size: 20px;
    margin-bottom:20px;
}

.tour_row{
    display:flex;
    justify-content: space-between;
}

.tour{
    width:400px;
    height: 300px;
    height: auto;
    cursor: pointer;
    transition: 1s;
}

.tour:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 1px #000;
}

.tour_picture_upper img{
    width:400px;
    height: 200px;
}

.tour_picture_lower{
    display: flex;
    justify-content: space-between;
}

.tour_picture_lower img{
    width:131px;
    height: 100px;
}

.tour_date{
    display:flex;
    align-items: center;
    margin-top:5px;
    
}

.tour_date p{
    font-size:15px;
    font-family:Arial, Helvetica, sans-serif;
    padding-top:5px;
    margin-right: 100px;
}

.tour_date .duration, .tour_date .cities{
    display: flex;
}

.tour_date img{
    width:25px;
    height:25px;
}

.details{
    display: flex;
    flex-direction: column;
}

.details .title{
    margin-top: 10px;
}

.details .title p {
    font-size: 25px;
    text-transform:uppercase;
    margin-bottom: 5px;
}

.price{
    display: flex;
    justify-content: space-between;
}

.price #dAndI{
    border: 1px #9897E4 solid;
    font-size: 15px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    color: #9897E4;
}

.price #presyo{
    font-size: 17px;
    color: red;
}

.tags{
    margin-top: 10px;
    display:flex;
    justify-content: space-between;
}

.tags #hash{
    color: #9897E4;
    margin-right: 5px;
    font-size: 15px;
}

.tags #more{
    background-color: rgb(187, 178, 178);
    padding: 2px 5px;
    font-size: 13px;
    color: rgb(43, 41, 41);
}


/*Section 5*/
.section_5_topDestinations{
    margin: 0px 40px;
}

.section_5_topDestinations .box_row{
    display: flex;
    justify-content: space-between;
}

.section_5_topDestinations .box:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.section_5_topDestinations #top{
    font-size: 20px;
    margin-bottom: 20px;
}

.section_5_topDestinations .box img{
    width: 200px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.section_5_topDestinations .box{
    width: 200px;
    height: 220px;
    position: relative;
    transition: 1s;
}

.section_5_topDestinations .box .image_container {
    position: relative;
    width: 100%;
    height: 100%;
}

.section_5_topDestinations .box .destination-text {
    position: absolute;
    bottom: 10px;
    left: 30%;
    transform: translateX(-50%);
    color: white;
    font-size: 35px;
    font-weight: bold;
    padding: 5px 10px; 
    border-radius: 5px; 
}

.section_5_topDestinations .box .destination-textT {
    position: absolute;
    bottom: 10px;
    left: 44%;
    transform: translateX(-50%);
    color: white;
    font-size: 35px;
    font-weight: bold;
    padding: 5px 10px; 
    border-radius: 5px; 
}

.section_6_footer{
    margin-top: 30px;
    padding: 50px;
    background-color: grey;
    color: white;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    border-top:1px black solid
}
