*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: url('img1.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 80px;
}

button{
    height: 80px;
    width:200px;
    font-size: 70px;
}